@model AgricultureUIPresentation.Models.LoginViewModel

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="zxx">

<head>
	<title>Agriculture Admin Giriş Paneli</title>

	<!-- Meta tags -->
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">

	<!-- Style -->
	<link rel="stylesheet" href="~/snow-login-form-starter/css/style.css" type="text/css" media="all" />
</head>

<body>
	<!-- login form -->
	<section class="w3l-login">
		<div class="overlay">
			<div class="wrapper">
				<div class="logo">
					<a class="brand-logo" href="index.html">Admin Giriş Paneli</a>
				</div>
				<div class="form-section">
					<h3>Giriş</h3>
					<h6>Agriculture Admin</h6>
					<form method="post" class="signin-form">
						<div class="form-input">
							<input type="text" asp-for="username" placeholder="Kullanıcı Adı" required="" autofocus>
						</div>
						<div class="form-input">
							<input type="password" asp-for="password" placeholder="Şifre" required="">
						</div>
						<label class="check-remaind">
							<input type="checkbox">
							<span class="checkmark"></span>
							<p class="remember">Beni Hatırla!</p>
						</label>
						<button type="submit" class="btn btn-primary theme-button mt-4">Giriş Yap</button>
						<div class="new-signup">
							<a href="#reload" class="signuplink">Kullanıcı adını veya şifreni mi unuttun?</a>
						</div>
					</form>
					<p class="signup">Henüz hesabın yok mu? <a href="/Login/SignUp/" class="signuplink">Kayıt Ol!</a></p>
				</div>
			</div>
		</div>
		<div id='stars'></div>
		<div id='stars2'></div>
		<div id='stars3'></div>

		<!-- copyright -->
		<div class="copy-right">
			<p>&copy; @DateTime.Now.Year Agriculture Admin Giriş Paneli. Tüm Hakları Saklıdır. | Design by <a href="http://w3layouts.com/" target="_blank">W3Layouts</a></p>
		</div>
		<!-- //copyright -->
	</section>

	<!-- /login form -->
</body>

</html>